/* Fonts 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

*/

:root {
  --spacer: 3rem;
  --box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

/* Utilities */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}
/* Start Here */

.first
{
  font-weight: bold;
  font-size: 30px;
  color:#3d2892;
  margin-left: 10%;
  font-family: calibri;
}
.second
{
  color: #f55d3a;
}
.navigation
{
  margin: 0 auto;
}
.nav
{
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100px;
  top: 0;
  position: sticky;
}
.navlist
{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
}
.navlist
{
  display: inline;
}
.top_right
{
  margin-right: 80px;
  margin-left: -60px;
  color: #3d2892;
  text-decoration: none;
}